---
import BaseLayout from "../../../layouts/Base.astro";
import fetchApi from "../../../lib/strapi";
import type Post from "../../../interfaces/post";
import styles from "./md.module.css";
import { Image } from "astro:assets";
import { marked } from "marked";

const posts = await fetchApi<Post[]>({
  endpoint: "posts?populate=postImage", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
});

const strapiUrl = import.meta.env.STRAPI_URL;

const pathname = Astro.url.pathname;
const parts = pathname.split("/");
const number = parts[parts.length - 1];
const id = number - 1;

const renderer = new marked.Renderer();
renderer.listitem = (text) => {
  return `<li>${text.replace(/<\/?p>/g, "<span>").replace(/<\/span>/g, "</span>")}</li>`;
};
---

<BaseLayout pageTitle={""}>
  <main class="px-[20px] pb-16 sm:px-[5.625rem]">
    <header>
      <h1 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        {posts[id].attributes.titleEn}
      </h1>
      <Image
        class="mx-auto pb-10 lg:float-right lg:mx-0 lg:pl-10"
        src={`${strapiUrl}${posts[id].attributes.postImage.data.attributes.url}`}
        alt={`${strapiUrl}${posts[id].attributes.postImage.data.attributes.alt}`}
        width={400}
        height={225}
      />
    </header>
    <article class="flex flex-col">
      <main class="text-xl">
        <div
          set:html={marked.parse(posts[id].attributes.postContentEn, {
            renderer,
          })}
          class={styles.pageContent}
        />
      </main>
    </article>
  </main>
</BaseLayout>
