---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/Base.astro";
import fetchApi from "../../lib/strapi";
import type ContactResponse from "../../interfaces/contact";
import type UraohjainResponse from "../../interfaces/uraohjain";

const pageTitle = "Uraohjain+ project";

const response = await fetchApi<{ attributes: ContactResponse[] }>({
  endpoint: "contact?populate=*",
  wrappedByKey: "data", // the key to unwrap the response
});


// Extract contact data
const contactData = response.attributes;
const contactLists = {
  StadinAO: contactData.ContactListAO,
  Metropolia: contactData.ContactListMetropolia,
  Laurea: contactData.ContactListLaurea,
};

// Fetch the data from the API
const uraohjain = await fetchApi<{ data: UraohjainResponse[] }>({
  endpoint: 'uraohjain', // the content type to fetch
  wrappedByKey: 'data', // the key to unwrap the response
});

// Function to replace newlines with <br> tags and return null for empty text
const formatText = (text: string | null) => {
  if (!text) return null;
  return text.replace(/\n/g, '<br>');
};

// Convert text to HTML
const formattedHtmlContent = uraohjain ? formatText(uraohjain.attributes.InfoTextEn) : null;
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-5 pb-16 md:px-[5.625rem]">
    <section>
      <h2 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        Uraohjain+ project
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="md:p-18 bg-u+pinky p-8">
          <h2 class="pb-7 pt-6 text-[2rem] font-bold">
            {uraohjain.attributes.TitleEn}
          </h2>
          <p set:html={formattedHtmlContent} class="text-xl font-light">
          </p>
        </div>
        <figure class="hidden md:block">
          <Image
            src="/img/register/walking-man.jpg"
            alt="walking man"
            class="h-full w-full bg-cover"
            loading="eager"
            width={1000}
            height={1000}
          />
        </figure>
      </div>
    </section>

    <section>
      <h3 class="py-16 text-3xl font-bold text-center">
        The Uraohjain+ project focuses on four points of emphasis
      </h3>
      <div class="flex flex-col items-center justify-center max-w-[800px] mx-auto gap-14">
        <figure>
          <Image
            src="/img/uraohjain+/diagram-en.png"
            alt="diagram"
            width={1000}
            height={1000}
          />
        </figure>
        <p class="bg-u+pinky p-4 text-xl font-light text-center">
          Uraohjain+ launched on 1 March 2023 and will continue until 28
          February 2025. The service will be developed throughout the entire
          project, and a model of the service developed and its effectiveness
          will be published at the end of the project period.
        </p>
      </div>
    </section>
    <section>
      <h3 class="py-16 text-3xl font-bold text-center">
        Project Staff
      </h3>
      <section>
        <div class="grid grid-cols-1 gap-8 px-5 md:grid-cols-3 md:px-[5.625rem]">
          {Object.entries(contactLists).map(([organization, contacts]) => (
            <div key={organization} class="box bg-custom p-8">
              <h4 class="pb-4 text-center text-xl font-bold">{organization}</h4>
              {contacts.map(contact => contact.Name ? (
                <>
                  <p class="text-center text-lg font-bold">{contact.Name}</p>
                  <p class="text-center text-lg font-light">{contact.TitleEn}</p>
                  <p class="text-center text-lg font-light">{contact.Phone}</p>
                  <p class="text-center text-lg font-light">{contact.Email}</p>
                  <br />
                </>
              ) : null)}
            </div>
          ))}
        </div>
      </section>
  </main>
</BaseLayout>
