---
import BaseLayout from "../../layouts/Base.astro";
import fetchApi from "../../lib/strapi";
import type ContactResponse from "../../interfaces/contact";

const pageTitle = "Yhteydenotto";

const response = await fetchApi<{ attributes: ContactResponse[] }>({
  endpoint: "contact?populate=*",
  wrappedByKey: "data", // the key to unwrap the response
});

---

<BaseLayout pageTitle={pageTitle}>
  <main class="h-full px-5 pb-16 md:px-[5.625rem]">
    <div class="flex flex-col items-center justify-center">
      <h1 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        {pageTitle}
      </h1>
      <ul class="flex flex-col gap-10 md:flex-row">
        <li class="flex flex-col bg-u+sunny px-14 py-11 text-xl font-light">
          <h2 class="text-2xl font-bold">
            Hankkeeseen liittyvät yhteydenotot:
          </h2>
          <p class="p-0 font-extrabold">{response.attributes.ContactListAO[0].Name}</p>
          <p class="p-0">{response.attributes.ContactListAO[0].Title}</p>
          <a href="tel:040 664 3020">{response.attributes.ContactListAO[0].Phone}</a>
          <a href="mailto:jaakko.hyytia@hel.fi">{response.attributes.ContactListAO[0].Email}</a>
        </li>
        <li class="flex flex-col bg-u+sunny px-14 py-11 text-xl font-light">
          <h2 class="text-2xl font-bold">Palveluun liittyvät yhteydenotot:</h2>
          <p class="p-0 font-extrabold">{response.attributes.ContactListAO[1].Name}</p>
          <p class="p-0">{response.attributes.ContactListAO[1].Title}</p>
          <a href="tel:040 198 6544">{response.attributes.ContactListAO[1].Phone}</a>
          <a href="mailto:marika.i.lindstrom@hel.fi">{response.attributes.ContactListAO[1].Email}</a>
        </li>
      </ul>
    </div>
  </main>
</BaseLayout>
