---
import { Image } from "astro:assets";
const { frontmatter, url, tagType, showImage = "block" } = Astro.props;
const Tag = tagType || "h2";
const { title, image, description } = frontmatter;
---

<li>
  <a href={url} aria-hidden="true">
    <figure class={showImage}>
      <Image src={image.src} alt={image.alt} width={500} height={500} />
    </figure>
    <Tag class="text-xl uppercase">
      {title}
    </Tag>
    <p class="">{description}...</p>
  </a>
</li>
