---
import BaseLayout from "../layouts/BaseLayout.astro";
import NewsHeader from "../components/NewsHeader.astro";
import NewsCard from "../components/NewsCard.astro";
const allNews = await Astro.glob("../pages/fi/news/*.md");
const { frontmatter } = Astro.props;
const { title, description, date, image } = frontmatter;
---

<BaseLayout pageTitle={title}>
  <main class="px-[5.625rem]">
    <NewsHeader
      title={title}
      description={description}
      date={date}
      image={image}
    />
    <article class="flex flex-col">
      <main class="text-xl">
        <slot />
      </main>
      <ul class="mt-20 flex flex-col gap-4 md:w-3/5 md:flex-row">
        {
          allNews.map((news) => (
            <NewsCard
              showImage={"block"}
              frontmatter={news.frontmatter}
              url={news.url}
              tagType="h3"
            />
          ))
        }
      </ul>
    </article>
  </main>
</BaseLayout>
