---
import BaseLayout from "./Base.astro";
import NewsCard from "../components/NewsCard.astro";
import { Image } from "astro:assets";
const allNews = await Astro.glob("../pages/fi/news/*.md");
const { frontmatter } = Astro.props;
const { title, image } = frontmatter;
---

<BaseLayout pageTitle={title}>
  <main class="px-[5.625rem] pb-16">
    <header>
      <h1 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        {title}
      </h1>
      <Image
        class="float-right md:pl-10"
        src={image.src}
        alt={image.alt}
        width={400}
        height={225}
      />
    </header>
    <article class="flex flex-col">
      <main class="text-xl">
        <slot />
      </main>
      <ul class="flex flex-col gap-4 pt-20 md:w-3/5 md:flex-row">
        {
          allNews.map((news) => (
            <NewsCard
              showImage={"block"}
              frontmatter={news.frontmatter}
              url={news.url}
              tagType="h3"
            />
          ))
        }
      </ul>
    </article>
  </main>
</BaseLayout>
